* {
  box-sizing: border-box; }
  *:before, *:after {
    box-sizing: border-box; }

html {
  height: 100%; }

body {
  font-size: 16px;
  line-height: 1.75;
  font-family: 'Pacifico', cursive;
  font-family: 'Kavivanar';
  overflow-x: hidden;
  opacity: 1;
  min-width: 320px;
  position: relative;
  margin: 0;
  padding: 0;
  color: white; }

html {
  scroll-behavior: smooth; }

.grid {
  display: grid;
  display: -ms-grid; }

.header, .main-container {
  position: relative; }

.header, .container, .section__main-content, .header__line-up,
.main-container, .section, body, .portfolio__item {
  width: 100%; }

.header::after, .container::after, .section__main-content::after,
.header__line-up::after, .main-container::after, .section::after,
body::after, .portfolio__item::after {
  display: block;
  content: '';
  clear: both; }

.text-center {
  text-align: center; }

.middle {
  display: table-cell;
  vertical-align: middle; }

h1, h2, h4, .sosials, p, .menu, figure {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  cursor: pointer;
  color: white; }

@font-face {
  font-family: 'ArchitectsDaughter-Regular';
  src: url("../fonts/ArchitectsDaughter-Regular.ttf"); }

@font-face {
  font-family: 'Kurale-Regular';
  src: url("../fonts/kurale/kurale-regular.otf"); }

.header {
  background-image: url("../img/header.jpeg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  min-height: 600px;
  max-height: 1000px; }
  .header .menu-container__side-bar {
    z-index: 4;
    position: fixed;
    top: 0;
    right: auto;
    bottom: auto;
    left: -350px;
    width: 350px;
    height: 100vh;
    min-height: 600px;
    max-height: 1000px;
    background-color: #d05d42;
    transition: left .4s ease; }
    .header .menu-container__side-bar.active {
      left: 0; }
    .header .menu-container__side-bar .menu-container__toggle-btn {
      position: absolute;
      left: calc(100% + 30px);
      top: 20px;
      cursor: pointer; }
      .header .menu-container__side-bar .menu-container__toggle-btn i {
        font-size: 44px;
        color: white; }
        .header .menu-container__side-bar .menu-container__toggle-btn i.no-active-bars {
          -webkit-text-stroke: 2px #d05d42; }
        .header .menu-container__side-bar .menu-container__toggle-btn i.fa-times {
          font-size: 45px;
          transition: transform .5s ease; }
          .header .menu-container__side-bar .menu-container__toggle-btn i.fa-times:hover {
            transform: rotate(90deg) rotateX(0); }
    .header .menu-container__side-bar .menu {
      padding: 47.5px 50px;
      text-align: center;
      list-style-type: none; }
      .header .menu-container__side-bar .menu .menu__item {
        padding: 30px 20px;
        font-size: 23px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
        .header .menu-container__side-bar .menu .menu__item:last-child {
          border-bottom: 0; }
        .header .menu-container__side-bar .menu .menu__item .menu__link {
          transition: color .5s ease; }
          .header .menu-container__side-bar .menu .menu__item .menu__link:hover {
            color: #decdc2; }
  .header .header__container {
    padding: 30px 130px 30px 70px;
    height: 100vh;
    min-height: 600px;
    max-height: 1000px; }
    .header .header__container .header__main-content {
      float: left;
      width: calc(100% - 60px);
      height: calc(100vh - 60px);
      min-height: 560px;
      align-content: center; }
      .header .header__container .header__main-content .container {
        width: initial;
        margin: 0 auto;
        align-content: center;
        max-height: 560px; }
        .header .header__container .header__main-content .container .circle-foto {
          grid-row: 1;
          height: calc(100vh - 60px);
          max-height: 560px;
          min-height: 560px;
          align-content: center; }
          .header .header__container .header__main-content .container .circle-foto .header__caption-container {
            width: 280px;
            height: 280px;
            border-radius: 50%;
            background-image: url("../img/selfy-foto.jpg");
            background-size: cover;
            background-position: center;
            margin-bottom: 40px; }
        .header .header__container .header__main-content .container .header__caption {
          grid-row: 1;
          align-content: center;
          width: initial;
          max-width: 700px;
          text-align: left;
          padding-left: 80px; }
          .header .header__container .header__main-content .container .header__caption .header__caption-foto-container {
            position: relative; }
            .header .header__container .header__main-content .container .header__caption .header__caption-foto-container .editor-container {
              background-color: rgba(54, 72, 64, 0.6);
              padding: 20px;
              border-radius: 10px;
              font-size: 22px;
              font-weight: 500;
              color: white;
              line-height: 1; }
              .header .header__container .header__main-content .container .header__caption .header__caption-foto-container .editor-container .editor-container__text-main {
                color: #a4c376;
                font-weight: 600; }

.header__line-side {
  position: fixed;
  top: calc(50vh - 170px);
  right: 30px;
  align-content: center; }
  .header__line-side.header__line-side_left {
    left: 380px; }
  .header__line-side .sosials {
    font-size: 0; }
    .header__line-side .sosials .sosials__item {
      width: fit-content;
      list-style: none;
      margin-bottom: 15px; }
      .header__line-side .sosials .sosials__item:last-child {
        margin-bottom: 0; }
      .header__line-side .sosials .sosials__item .sosials__link {
        display: block; }
        .header__line-side .sosials .sosials__item .sosials__link i {
          color: white;
          font-size: 30px;
          width: 50px;
          height: 50px;
          background-color: rgba(56, 67, 62, 0.7);
          text-align: center;
          display: table-cell;
          vertical-align: middle;
          transition: background-color .5s ease; }
          .header__line-side .sosials .sosials__item .sosials__link i.fa-github:hover {
            background-color: rgba(36, 41, 46, 0.7); }
          .header__line-side .sosials .sosials__item .sosials__link i.fa-linkedin:hover {
            background-color: rgba(0, 115, 177, 0.7); }
          .header__line-side .sosials .sosials__item .sosials__link i.fa-facebook:hover {
            background-color: rgba(66, 103, 178, 0.7); }
  .header__line-side .sosials-lang__item:first-child {
    margin-bottom: 0; }
  .header__line-side .sosials-lang__item:nth-child(2) {
    margin-bottom: 60px; }
  .header__line-side .sosials-lang__link {
    width: 50px;
    height: 50px;
    background-color: rgba(56, 67, 62, 0.7);
    font-size: 22px;
    font-weight: 600;
    transition: background-color .5s ease; }
    .header__line-side .sosials-lang__link:hover {
      background-color: rgba(56, 67, 62, 0.9); }
    .header__line-side .sosials-lang__link.active {
      background-color: rgba(255, 255, 255, 0.9);
      color: #5a6f5e;
      cursor: default; }

.button {
  background-color: rgba(255, 255, 255, 0.9);
  color: #5a6f5e;
  display: block;
  border: 2px solid rgba(255, 255, 255, 0.9);
  padding: 8px;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  transition: color .8s ease; }
  .button:hover {
    color: #a4c376; }

.section_light {
  background-color: #eaeae5;
  color: rgba(56, 67, 62, 0.9); }

.section_bright {
  background-color: #e2b89b; }

.limit-container {
  max-width: 1200px;
  margin: 0 auto; }

.section .section__container {
  padding: 70px 100px 70px 80px;
  align-content: center; }
  .section .section__container .section__main-content {
    padding: 0 0 0 20px; }
  .section .section__container .section__caption-container {
    padding: 10px 45px;
    display: table;
    margin: 0 auto 70px auto;
    background-color: white;
    color: #d05d42; }
    .section .section__container .section__caption-container .section__caption {
      font-family: monospace;
      font-size: 20px;
      font-weight: 300; }

.experience-section__main-content {
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-columns: 1fr 1fr 1fr;
  text-align: center;
  color: rgba(56, 67, 62, 0.9); }
  .experience-section__main-content .experience-section__item {
    padding: 0 20px; }
    .experience-section__main-content .experience-section__item .experience-section__link {
      color: rgba(56, 67, 62, 0.9); }
      .experience-section__main-content .experience-section__item .experience-section__link .experience-section__icon {
        font-size: 60px;
        font-family: 'FontAwesome';
        width: 150px;
        height: 150px;
        border: 3px solid rgba(56, 67, 62, 0.9);
        border-radius: 75px;
        display: table-cell;
        vertical-align: middle;
        transition: background-color 1.2s ease, color 1.2s ease, border-color 1.2s ease; }
        .experience-section__main-content .experience-section__item .experience-section__link .experience-section__icon.desktop-icon {
          -ms-grid-column: 1; }
        .experience-section__main-content .experience-section__item .experience-section__link .experience-section__icon.desktop-icon::before {
          content: '\f108'; }
        .experience-section__main-content .experience-section__item .experience-section__link .experience-section__icon.users-icon::before {
          content: '\f0c0'; }
        .experience-section__main-content .experience-section__item .experience-section__link .experience-section__icon.code-icon {
          -ms-grid-column: 3; }
        .experience-section__main-content .experience-section__item .experience-section__link .experience-section__icon.code-icon::before {
          content: '\f121'; }
        .experience-section__main-content .experience-section__item .experience-section__link .experience-section__icon:hover {
          background-color: rgba(56, 67, 62, 0.9);
          color: white;
          border-color: rgba(56, 67, 62, 0.9); }
        .experience-section__main-content .experience-section__item .experience-section__link .experience-section__icon.users-icon:hover::before {
          display: grid;
          font-family: monospace;
          content: 'View gallery';
          padding: 0 10px;
          font-size: 19px;
          line-height: 1.5;
          color: white;
          align-content: center;
          text-align: center; }
        .experience-section__main-content .experience-section__item .experience-section__link .experience-section__icon.users-icon {
          transition: background-color 1.2s ease, background-image 1.2s ease, background-size 1.2s ease, background-position 1.2s ease, background-repeat 1.2s ease;
          -ms-grid-column: 2; }
          .experience-section__main-content .experience-section__item .experience-section__link .experience-section__icon.users-icon:hover {
            background-image: url(../img/about_me/gallery.svg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat; }
        .experience-section__main-content .experience-section__item .experience-section__link .experience-section__icon.code-icon:hover::before {
          display: grid;
          font-family: monospace;
          content: 'View portfolio';
          padding: 0 10px;
          font-size: 19px;
          line-height: 1.5;
          color: white;
          align-content: center;
          text-align: center; }
        .experience-section__main-content .experience-section__item .experience-section__link .experience-section__icon.code-icon:hover {
          background-image: url(../img/about_me/coding.svg);
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat; }
    .experience-section__main-content .experience-section__item .experience-section__caption {
      margin-top: 20px;
      margin-bottom: 10px;
      color: #d05d42;
      font-size: 22px;
      font-family: sans-serif;
      font-family: 'ArchitectsDaughter-Regular';
      font-weight: 600; }
    .experience-section__main-content .experience-section__item .experience-section__text {
      font-family: 'ArchitectsDaughter-Regular';
      font-family: monospace;
      font-size: 14px; }

.portfolio-section {
  width: fit-content; }
  .portfolio-section.portfolio-section_hover {
    background-color: silver; }
  .portfolio-section .section__container .section__main-content {
    padding: 0 20px; }
    .portfolio-section .section__container .section__main-content .portfolio__item {
      position: relative;
      width: 75%;
      margin: 0 auto;
      transition: transform 1.2s ease; }
      .portfolio-section .section__container .section__main-content .portfolio__item:hover {
        transform: translateX(20px); }
      .portfolio-section .section__container .section__main-content .portfolio__item-img {
        width: 100%; }
    .portfolio-section .section__container .section__main-content .portfolio-section__hover-text {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      width: fit-content;
      height: fit-content;
      background-color: rgba(208, 93, 66, 0.76);
      padding: 15px 30px;
      margin: 0 auto;
      font-size: 20px; }
      .portfolio-section .section__container .section__main-content .portfolio-section__hover-text.visible {
        display: block; }

.about-me-section .section__main-content {
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-columns: 1fr 1fr; }
  .about-me-section .section__main-content .about-me-section__item {
    padding: 10px 20px; }
    .about-me-section .section__main-content .about-me-section__item_img {
      -ms-grid-column: 1; }
    .about-me-section .section__main-content .about-me-section__item_text {
      -ms-grid-column: 2; }
    .about-me-section .section__main-content .about-me-section__item .about-me-section__img {
      width: 100%; }
    .about-me-section .section__main-content .about-me-section__item .about-me-section__text {
      font-family: 'ArchitectsDaughter-Regular';
      margin-bottom: 10px; }
      .about-me-section .section__main-content .about-me-section__item .about-me-section__text_ua {
        font-family: 'Kurale-Regular';
        font-size: 17px; }
        .about-me-section .section__main-content .about-me-section__item .about-me-section__text_ua .about-me-section__text-link {
          font-size: 18px; }
      .about-me-section .section__main-content .about-me-section__item .about-me-section__text-link {
        color: #d05d42;
        font-size: 17px;
        font-weight: 600;
        background-color: rgba(255, 255, 255, 0.3);
        padding: 1px;
        transition: color .6s ease; }
        .about-me-section .section__main-content .about-me-section__item .about-me-section__text-link:hover {
          color: rgba(56, 67, 62, 0.7); }

.skills-section .section__main-content {
  padding: 0 0 0 10px; }
  .skills-section .section__main-content .skills-section__skill {
    display: block;
    width: fit-content;
    float: left;
    background-color: rgba(56, 67, 62, 0.9);
    padding: 10px;
    margin: 10px;
    font-size: 18px;
    font-family: monospace;
    transition: background-color .6s ease; }
    .skills-section .section__main-content .skills-section__skill:hover {
      background-color: #38433e; }

.gallery-section .section__container .section__main-content {
  position: relative;
  grid-template-columns: 1fr;
  padding: 0 0 0 10px; }
  .gallery-section .section__container .section__main-content .gallery-section__angle-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 65px;
    cursor: pointer; }
    .gallery-section .section__container .section__main-content .gallery-section__angle-button-left {
      left: 30px; }
    .gallery-section .section__container .section__main-content .gallery-section__angle-button-right {
      right: 30px; }
  .gallery-section .section__container .section__main-content .gallery-section__item {
    width: 100%;
    height: 60vh;
    min-height: 400px;
    max-height: 700px;
    background-image: url("../img/gallery/it-shkolyar/1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }

.footer {
  background-color: #1f1d1d;
  text-align: center;
  font-family: monospace; }
  .footer .section__container {
    padding: 80px 20px; }
    .footer .section__container .section__main-content {
      padding: 0; }

@media only screen and (max-width: 1100px) {
  .header .menu-container__side-bar .menu-container__toggle-btn {
    left: calc(100% + 20px); }
  .header .header__line-side {
    right: 20px; }
  .section .section__container {
    padding: 90px 80px 90px 70px; }
  .about-me-section .section__main-content {
    grid-template-columns: 1fr;
    grid-rows: 2; }
    .about-me-section .section__main-content .about-me-section__item {
      padding: 10px 0; }
      .about-me-section .section__main-content .about-me-section__item .about-me-section__img {
        display: block;
        width: 35%;
        margin: 0 auto;
        margin-bottom: 10px; } }

@media only screen and (max-width: 1000px) {
  .header .header__container .header__main-content {
    width: 100%; }
    .header .header__container .header__main-content .container .circle-foto .header__caption-container {
      width: 260px;
      height: 260px; }
    .header .header__container .header__main-content .container .header__caption {
      padding-left: 40px; }
  .portfolio-section .section__container .section__main-content .portfolio__item {
    width: 90%; }
  .section .section__container .section__caption-container {
    margin-bottom: 50px; }
  .about-me-section .section__main-content .about-me-section__item .about-me-section__text {
    font-size: 15px; }
  .skills-section .skills-section__skill {
    font-size: 17px; }
  .experience-section__main-content {
    width: 70%;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-row: 2; }
    .experience-section__main-content .experience-section__item_freelance {
      grid-row: 1; }
    .experience-section__main-content .experience-section__item_lector {
      grid-row: 2;
      grid-column: 1/3;
      margin-top: 20px; }
    .experience-section__main-content .experience-section__item_websites {
      grid-row: 1; }
  .gallery-section .section__main-content .gallery-section__item {
    height: 50vh; }
  .footer .section__container {
    padding: 60px 20px; } }

@media only screen and (max-width: 900px) {
  .header .header__line-side .sosials .sosials__item i {
    font-size: 26px; }
  .header .header__line-side .sosials-lang__link {
    font-size: 18px; }
  .header .header__container .header__main-content .container .circle-foto .header__caption-container {
    width: 240px;
    height: 240px; }
  .header .header__container .header__main-content .container .header__caption .header__caption-foto-container .editor-container {
    min-width: 296px;
    font-size: 18px; }
  .button {
    font-size: 19px; }
  .experience-section__main-content {
    width: 85%; }
  .portfolio-section .section__container .section__main-content .portfolio__item {
    width: 100%; }
    .portfolio-section .section__container .section__main-content .portfolio__item:hover {
      transform: translateX(15px); } }

@media only screen and (max-width: 800px) {
  .header .header__container {
    padding: 90px 110px 90px 90px;
    height: auto; }
  .header {
    height: auto; }
    .header .header__line-side {
      height: auto; }
    .header .header__container .header__main-content {
      height: auto;
      width: 100%; }
      .header .header__container .header__main-content .container {
        grid-template-rows: 2;
        max-height: fit-content; }
        .header .header__container .header__main-content .container .circle-foto {
          height: auto;
          min-height: auto;
          max-height: auto;
          margin-bottom: 30px; }
          .header .header__container .header__main-content .container .circle-foto .header__caption-container {
            margin: auto;
            margin-bottom: 20px; }
        .header .header__container .header__main-content .container .header__caption {
          grid-row: 2;
          padding: 0; }
  .experience-section__main-content {
    width: 100%; }
  .gallery-section .section__container .section__main-content .gallery-section__item {
    height: 50vh; }
  .about-me-section .section__main-content .about-me-section__item .about-me-section__img {
    width: 40%; } }

@media only screen and (max-width: 700px) {
  .section .section__container, .header .header__container {
    padding: 50px 30px 50px 50px; }
  .header .menu-container__side-bar {
    left: -50%;
    width: 50%; }
    .header .menu-container__side-bar .menu-container__toggle-btn {
      left: calc(100% + 15px);
      top: 80px; }
      .header .menu-container__side-bar .menu-container__toggle-btn i {
        font-size: 40px; }
  .header .header__container {
    padding-top: 100px; }
  .header .header__line-side {
    position: absolute;
    right: auto;
    left: calc(50% - 120px);
    top: 20px;
    align-content: flex-start; }
    .header .header__line-side .sosials .sosials__item {
      display: inline-block;
      margin-bottom: 0;
      margin-right: 10px; }
      .header .header__line-side .sosials .sosials__item:last-child {
        margin-right: 0; }
      .header .header__line-side .sosials .sosials__item i {
        font-size: 22px;
        width: 44px;
        height: 44px; }
    .header .header__line-side .sosials .sosials-lang__item:nth-child(1) {
      margin-right: 0; }
    .header .header__line-side .sosials .sosials-lang__item:nth-child(2) {
      margin-bottom: 0;
      margin-right: 30px; }
    .header .header__line-side .sosials .sosials-lang__item .sosials-lang__link {
      font-size: 16px;
      width: 44px;
      height: 44px; }
  .experience-section__main-content {
    width: 70%;
    grid-template-columns: 1fr;
    grid-row: auto; }
    .experience-section__main-content .experience-section__item {
      margin-bottom: 20px; }
      .experience-section__main-content .experience-section__item:last-child {
        margin-bottom: 0; }
      .experience-section__main-content .experience-section__item_freelance {
        grid-row: auto; }
      .experience-section__main-content .experience-section__item_lector {
        grid-row: auto;
        grid-column: auto;
        margin-top: auto; }
      .experience-section__main-content .experience-section__item_websites {
        grid-row: auto; }
  .about-me-section .section__main-content .about-me-section__item .about-me-section__img {
    width: 55%; }
  .gallery-section .section__container .section__main-content .gallery-section__item {
    height: 45vh;
    min-height: 320px; }
  .footer .section__container {
    padding: 60px 20px; } }

@media only screen and (max-width: 600px) {
  .section .section__container {
    padding: 50px 20px 50px 50px; }
  .header .header__container {
    padding: 90px 20px 90px 50px; }
  .header .menu-container__side-bar {
    left: -65%;
    width: 65%; }
  .footer .section__container {
    padding: 60px 20px; } }

@media only screen and (max-width: 500px) {
  .section .section__container {
    padding: 40px 15px 40px 30px; }
  .header .header__container {
    padding: 100px 15px 70px 30px; }
  .header .menu-container__side-bar .menu .menu__item {
    font-size: 21px; }
  .header .menu-container__side-bar .menu-container__toggle-btn {
    left: calc(100% + 10px); }
    .header .menu-container__side-bar .menu-container__toggle-btn i {
      font-size: 40px; }
  .footer .section__container {
    padding: 60px 20px; }
  .experience-section__main-content {
    width: 85%; } }

@media only screen and (max-width: 440px) {
  .header .menu-container__side-bar {
    left: -75%;
    width: 75%; }
  .portfolio-section .section__container .section__main-content {
    padding: 0 10px 0 0; }
  .section .section__container .section__caption-container {
    margin-bottom: 40px; }
    .section .section__container .section__caption-container .section__caption {
      font-size: 18px; }
  .gallery-section .section__container .section__main-content .gallery-section__item {
    height: 40vh; } }

@media only screen and (max-width: 400px) {
  .header .menu-container__side-bar {
    left: -80%;
    width: 80%; }
  .header .header__container .header__main-content .container .header__caption .header__caption-foto-container .editor-container {
    font-size: 18px;
    min-width: 260px;
    padding: 15px; }
  .button {
    width: 75%;
    margin: 0 auto; }
  .section .section__container .section__caption-container {
    padding: 10px 30px; }
  .about-me-section .section__main-content .about-me-section__item .about-me-section__img {
    width: 70%; }
  .experience-section__main-content {
    width: 90%; } }

@media only screen and (max-width: 380px) {
  .header .menu-container__side-bar .menu {
    padding: 20px 40px; }
    .header .menu-container__side-bar .menu .menu__item {
      font-size: 20px; }
  .header .header__line-side .sosials .sosials__item {
    margin-right: 5px; }
    .header .header__line-side .sosials .sosials__item i {
      font-size: 20px;
      width: 40px;
      height: 40px; }
  .header .header__line-side .sosials .sosials-lang__item .sosials-lang__link {
    font-size: 14px;
    width: 40px;
    height: 40px; }
  .header .header__main-content .container .header__caption .header__caption-foto-container .editor-container {
    min-width: 250px;
    padding: 5px; }
  .button {
    font-size: 17px; } }

@media only screen and (max-height: 600px) {
  .header .menu-container__side-bar {
    min-height: 390px; }
    .header .menu-container__side-bar .menu-container__toggle-btn {
      left: calc(100% + 20px); }
    .header .menu-container__side-bar .menu {
      padding: 30px 50px; }
      .header .menu-container__side-bar .menu .menu__item {
        padding: 15px 20px;
        font-size: 21px;
        border-bottom: 0; } }

@media only screen and (max-height: 400px) {
  .header .header__line-side {
    position: absolute;
    top: 30px; }
  .gallery-section .section__main-content .gallery-section__item {
    height: 100vh;
    min-height: 320px;
    max-height: 400px; } }

@media (max-width: 812px) and (max-height: 400px) {
  .gallery-section .section__container .section__main-content .gallery-section__item {
    height: 100vh;
    min-height: 320px;
    max-height: 400px; } }

@media (max-width: 440px) and (max-height: 400px) {
  .gallery-section .section__container .section__main-content .gallery-section__item {
    height: 100vh;
    min-height: 320px;
    max-height: 400px; } }

@media only screen and (max-height: 390px) {
  .header .menu-container__side-bar {
    min-height: 320px; }
    .header .menu-container__side-bar .menu-container__toggle-btn {
      left: calc(100% + 15px); }
    .header .menu-container__side-bar .menu {
      padding: 22.5px 50px; }
      .header .menu-container__side-bar .menu .menu__item {
        padding: 10px 20px;
        font-size: 20px;
        border-bottom: 0; } }
