*
  box-sizing: border-box
  &:before, &:after
    box-sizing: border-box

html, body
  width: 100%
  height: 100%

body
  font-size: 16px
  line-height: 1.75
  font-family: 'Pacifico', cursive
  font-family: 'Kavivanar'
  overflow-x: hidden
  opacity: 1
  min-width: 320px
  position: relative
  margin: 0
  padding: 0
  color: white

html
  scroll-behavior: smooth

.grid
  display: -ms-grid

.header, .main-container
  position: relative

.header, .container, .section__main-content, .header__line-up,
.main-container, .section, body, .portfolio__item
  width: 100%

.header::after, .container::after,.section__main-content::after,
.header__line-up::after, .main-container::after, .section::after,
body::after, .portfolio__item::after
  display: block
  content: ''
  clear: both

.text-center
  text-align: center

.middle
  display: table-cell
  vertical-align: middle

h1, h2, h4, .sosials, p, .menu, figure
  margin: 0
  padding: 0

a
  text-decoration: none
  cursor: pointer
  color: white
