@media only screen and (max-width : 1100px)
  .header
    .menu-container__side-bar
      .menu-container__toggle-btn
        left: calc(100% + 20px)
    .header__line-side
      right: 20px

  .section .section__container
    padding: 90px 80px 90px 70px

  .about-me-section
    .section__main-content
      grid-template-columns: 1fr
      grid-rows: 2
      .about-me-section__item
        padding: 10px 0
        .about-me-section__img
          display: block
          width: 35%
          margin: 0 auto
          margin-bottom: 10px
@media only screen and (max-width : 1000px)
  .header
    .header__container
      .header__main-content
        width: 100%
        .container
          .circle-foto
            .header__caption-container
              width: 260px
              height: 260px
          .header__caption
            padding-left: 40px

  .portfolio-section .section__container .section__main-content .portfolio__item
    width: 90%

  .section
    .section__container
      .section__caption-container
          margin-bottom: 50px

  .about-me-section
    .section__main-content
      .about-me-section__item
        .about-me-section__text
          font-size: 15px

  .skills-section
    .skills-section__skill
      font-size: 17px

  .experience-section__main-content
    width: 70%
    margin: 0 auto
    grid-template-columns: 1fr 1fr
    grid-row: 2
    .experience-section__item
      &_freelance
        grid-row: 1
      &_lecture
        grid-row: 2
        grid-column: 1/3
        margin-top: 20px
      &_websites
        grid-row: 1

  .gallery-section .section__main-content .gallery-section__item
    height: 50vh

  .footer
    .section__container
      padding: 60px 20px


@media only screen and (max-width : 900px)
  .header
    .header__line-side
      .sosials .sosials__item i
        font-size: 26px
      .sosials-lang__link
        font-size: 18px
    .header__container
      .header__main-content
        .container
          .circle-foto
            .header__caption-container
              width: 240px
              height: 240px
          .header__caption
            .header__caption-foto-container
              .editor-container
                min-width: 296px
                font-size: 18px
  .button
    font-size: 19px

  .experience-section__main-content
    width: 85%

  .portfolio-section .section__container .section__main-content .portfolio__item
    width: 100%
    &:hover
      transform: translateX(15px)

@media only screen and (max-width : 800px)
  .header .header__container
    padding: 90px 110px 90px 90px
    height: auto

  .header
    height: auto
    .header__line-side
      height: auto
    .header__container
      .header__main-content
        height: auto
        width: 100%
        .container
          grid-template-rows: 2
          max-height: fit-content
          .circle-foto
            height: auto
            min-height: auto
            max-height: auto
            margin-bottom: 30px
            .header__caption-container
              margin: auto
              margin-bottom: 20px
          .header__caption
            grid-row: 2
            padding: 0

  .experience-section__main-content
    width: 100%

  .gallery-section .section__container .section__main-content .gallery-section__item
    height: 50vh

  .about-me-section
    .section__main-content
      .about-me-section__item
        .about-me-section__img
          width: 40%

@media only screen and (max-width : 700px)
  .section .section__container, .header .header__container
    padding: 50px 30px 50px 50px

  .header
    .menu-container__side-bar
      left: -50%
      width: 50%
      .menu-container__toggle-btn
        left: calc(100% + 15px)
        top: 80px
        i
          font-size: 40px
    .header__container
      padding-top: 100px
    .header__line-side
      position: absolute
      right: auto
      left: calc(50% - 120px)
      top: 20px
      align-content: flex-start
      .sosials
        .sosials__item
          display: inline-block
          margin-bottom: 0
          margin-right: 10px
          &:last-child
            margin-right: 0
          i
            font-size: 22px
            width: 44px
            height: 44px
        .sosials-lang__item
          &:nth-child(1)
            margin-right: 0
          &:nth-child(2)
            margin-bottom: 0
            margin-right: 30px
          .sosials-lang__link
            font-size: 16px
            width: 44px
            height: 44px

  .experience-section__main-content
    width: 70%
    grid-template-columns: 1fr
    grid-row: auto
    .experience-section__item
      margin-bottom: 20px
      &:last-child
        margin-bottom: 0
      &_freelance
        grid-row: auto
      &_lecture
        grid-row: auto
        grid-column: auto
        margin-top: auto
      &_websites
        grid-row: auto

  .about-me-section
    .section__main-content
      .about-me-section__item
        .about-me-section__img
          width: 55%

  .gallery-section .section__container .section__main-content .gallery-section__item
    height: 45vh
    min-height: 250px

  .footer .section__container
    padding: 60px 20px


@media only screen and (max-width : 600px)
  .section .section__container
    padding: 50px 20px 50px 50px

  .header .header__container
    padding: 90px 20px 90px 50px

  .header .menu-container__side-bar
    left: -65%
    width: 65%

  .footer .section__container
    padding: 60px 20px

  .gallery-section .section__container
    padding: 0
    .section__main-content
      padding: 0
      .gallery-section__item


@media only screen and (max-width : 500px)
  .section .section__container
    padding: 40px 15px 40px 30px

  .header .header__container
    padding: 100px 15px 70px 30px

  .header
    .menu-container__side-bar
      .menu .menu__item
        font-size: 21px
      .menu-container__toggle-btn
        left: calc(100% + 10px)
        i
          font-size: 40px

  .footer .section__container
    padding: 60px 20px

  .experience-section__main-content
    width: 85%

  .gallery-section .section__container
    padding: 0
    .section__main-content
      padding: 0

@media only screen and (max-width : 440px)
  .header .menu-container__side-bar
    left: -75%
    width: 75%

  .portfolio-section .section__container .section__main-content
    padding: 0 10px 0 0

  .section .section__container .section__caption-container
    margin-bottom: 40px
    .section__caption
     font-size: 18px

  .gallery-section .section__container .section__main-content .gallery-section__item
    height: 25vh
@media only screen and (max-width : 400px)
  .header
    .menu-container__side-bar
      left: -80%
      width: 80%
    .header__container
      .header__main-content
        .container
          .circle-foto
            .header__caption-container
          .header__caption
            .header__caption-foto-container .editor-container
              font-size: 18px
              min-width: 260px
              padding: 15px

  .button
    width: 75%
    margin: 0 auto

  .section .section__container .section__caption-container
    padding: 10px 30px

  .about-me-section .section__main-content .about-me-section__item .about-me-section__img
    width: 70%

  .experience-section__main-content
    width: 90%
@media only screen and (max-width : 380px)
  .header
    .menu-container__side-bar
      .menu
        padding: 20px 40px
        .menu__item
          font-size: 20px
    .header__line-side
      .sosials
        .sosials__item
          margin-right: 5px
          i
            font-size: 20px
            width: 40px
            height: 40px
        .sosials-lang__item
          .sosials-lang__link
            font-size: 14px
            width: 40px
            height: 40px
    .header__main-content
      .container
        .circle-foto
          .header__caption-container
        .header__caption
          .header__caption-foto-container .editor-container
            min-width: 250px
            padding: 5px
  .button
    font-size: 17px

@media (min-width : 500px) and (max-height : 600px)
  .header
    .menu-container__side-bar
      min-height: 390px
      .menu-container__toggle-btn
        left: calc(100% + 20px)
      .menu
        padding: 30px 50px
        .menu__item
          padding: 15px 20px
          font-size: 21px
          border-bottom: 0

@media only screen and (max-height : 400px)
  .header
    .header__line-side
      position: absolute
      top: 30px

  .gallery-section .section__main-content .gallery-section__item
    height: 100vh
    min-height: 320px
    max-height: 400px

@media (max-width : 812px) and (max-height : 400px)
  .gallery-section .section__container .section__main-content .gallery-section__item
    height: 100vh
    min-height: 320px
    max-height: 400px

@media (max-width : 440px) and (max-height : 400px)
  .gallery-section .section__container .section__main-content .gallery-section__item
    height: 100vh
    min-height: 320px
    max-height: 400px

@media only screen and (max-height : 390px)
  .header
    .menu-container__side-bar
      min-height: 320px
      .menu-container__toggle-btn
        left: calc(100% + 15px)
      .menu
        padding: 22.5px 50px
        .menu__item
          padding: 10px 20px
          font-size: 20px
          border-bottom: 0
