@import 'base'
@import 'fonts'

$dark-background-08-opacity: rgba(56, 67, 62, .78)
$dark-background: rgba(56, 67, 62, .7)
$dark-background-09-opacity: rgba(56, 67, 62, .9)
$dark-background-menu: rgba(28, 23, 26, 1)
$light-background: #eaeae5
$bright-background: #e2b89b
$bright-color: #d05d42
$bright-color-opacity: rgba(208, 93, 66, 0.76)
$brown-light: #decdc2
$green-dark: rgba(90, 111, 94, 1)
$green-06-opacity: rgba(54, 72, 64, 0.6)
$green-light: #a4c376
$white-with-09-opacity: rgba(255, 255, 255, .9)
$white-with-05-opacity: rgba(255, 255, 255, .5)
$facebook-background: rgba(66, 103, 178, .7)
$linkedin-background: rgba(0, 115, 177, .7)
$github-background: rgba(36, 41, 46, .7)
$footer-background: #1f1d1d

.header
  background-image: url('../img/header.jpeg')
  background-size: cover
  background-position: center
  height: 100vh
  min-height: 600px
  max-height: 1000px
  .menu-container__side-bar
    z-index: 4
    position: fixed
    top: 0
    right: auto
    bottom: auto
    left: -350px
    width: 350px
    height: 100vh
    min-height: 600px
    max-height: 1000px
    background-color: $bright-color
    transition: left .4s ease
    &.active
      left: 0
    .menu-container__toggle-btn
      position: absolute
      left: calc(100% + 30px)
      top: 20px
      cursor: pointer
      i
        font-size: 44px
        color: white
        &.no-active-bars
          -webkit-text-stroke: 2px $bright-color
        &.fa-times
          font-size: 45px
          transition: transform .5s ease
          &:hover
            transform: rotate(90deg) rotateX(0)
    .menu
      padding: 47.5px 50px
      text-align: center
      .menu__item
        padding: 30px 20px
        font-size: 23px
        border-bottom: 1px solid $white-with-05-opacity
        &:last-child
          border-bottom: 0
        .menu__link
          transition: color .5s ease
          &:hover
            color: $brown-light
  .header__container
    padding: 30px 130px 30px 70px
    height: 100vh
    min-height: 600px
    max-height: 1000px
    .header__main-content
      float: left
      width: calc(100% - 60px)
      height: calc(100vh - 60px)
      min-height: 560px
      align-content: center
      .container
        width: initial
        margin: 0 auto
        align-content: center
        grid-template-rows: 1
        max-height: 560px
        .circle-foto
          grid-row: 1
          height: calc(100vh - 60px)
          max-height: 560px
          min-height: 560px
          align-content: center
          .header__caption-container
            width: 280px
            height: 280px
            border-radius: 50%
            background-image: url('../img/selfy-foto.jpg')
            background-size: cover
            background-position: center
            margin-bottom: 40px
        .header__caption
          grid-row: 1
          align-content: center
          width: initial
          max-width: 700px
          text-align: left
          padding-left: 80px
          .header__caption-foto-container
            position: relative
            .editor-container
              background-color: $green-06-opacity
              padding: 20px
              border-radius: 10px
              font-size: 22px
              font-weight: 500
              color: white
              line-height: 1
              .editor-container__text-main
                color: $green-light
                font-weight: 600
.header__line-side
    position: fixed
    top: calc(50vh - 170px)
    right: 30px
    // left: calc(25% + 30px)
    align-content: center
    &.header__line-side_left
      left: 380px
    .sosials
      font-size: 0
      .sosials__item
        width: fit-content
        list-style: none
        margin-bottom: 15px
        &:last-child
          margin-bottom: 0
        .sosials__link
          display: block
          i
            color: white
            font-size: 30px
            width: 50px
            height: 50px
            background-color: $dark-background
            text-align: center
            display: table-cell
            vertical-align: middle
            transition: background-color .5s ease
            &.fa-github:hover
              background-color: $github-background
            &.fa-linkedin:hover
              background-color: $linkedin-background
            &.fa-facebook:hover
              background-color: $facebook-background
    .sosials-lang
      &__item
      &__item:first-child
        margin-bottom: 0
      &__item:nth-child(2)
        margin-bottom: 60px
      &__link
        width: 50px
        height: 50px
        background-color: $dark-background
        font-size: 22px
        font-weight: 600
        transition: background-color .5s ease
        &:hover
          background-color: $dark-background-09-opacity
        &.active
          background-color: $white-with-09-opacity
          color: $green-dark
          cursor: default

.button
  background-color: $white-with-09-opacity
  color: $green-dark
  display: block
  border: 2px solid $white-with-09-opacity
  padding: 8px
  text-align: center
  font-size: 22px
  font-weight: 600
  transition: color .8s ease
  &:hover
    color: $green-light

.section_light
  background-color: $light-background
  color: $dark-background-09-opacity

.section_bright
  background-color: $bright-background

.limit-container
  max-width: 1200px
  margin: 0 auto

.section
  .section__container
    padding: 90px 100px 90px 80px
    align-content: center
    .section__main-content
      padding: 0 0 0 20px
    .section__caption-container
      padding: 10px 45px
      width: fit-content
      margin: 0 auto 100px auto
      background-color: white
      color: $bright-color
      .section__caption
        font-family: monospace
        font-size: 20px
        font-weight: 300

.experience-section__main-content
  grid-template-columns: repeat(3, 1fr)
  text-align: center
  color: $dark-background-09-opacity
  .experience-section__item
    padding: 0 20px
    .experience-section__link
      color: $dark-background-09-opacity
      .experience-section__icon
        font-size: 60px
        font-family: 'FontAwesome'
        width: 150px
        height: 150px
        border: 3px solid $dark-background-09-opacity
        border-radius: 75px
        display: table-cell
        vertical-align: middle
        transition: background-color 1.2s ease, color 1.2s ease, border-color 1.2s ease
        &.desktop-icon::before
          content: '\f108'
        &.users-icon::before
          content: '\f0c0'
        &.code-icon::before
          content: '\f121'
        &:hover
          background-color: $dark-background-09-opacity
          color: white
          border-color: $dark-background-09-opacity
        &.users-icon:hover::before
          display: grid
          font-family: monospace
          content: 'View gallery'
          padding: 0 10px
          font-size: 19px
          line-height: 1.5
          color: white
          align-content: center
          text-align: center
        &.users-icon
          transition: background-color 1.2s ease, background-image 1.2s ease, background-size 1.2s ease, background-position 1.2s ease, background-repeat 1.2s ease
          &:hover
            background-image: url(../img/about_me/gallery.svg)
            background-size: cover
            background-position: center
            background-repeat: no-repeat
        &.code-icon:hover::before
          display: grid
          font-family: monospace
          content: 'View portfolio'
          padding: 0 10px
          font-size: 19px
          line-height: 1.5
          color: white
          align-content: center
          text-align: center
        &.code-icon:hover
          background-image: url(../img/about_me/coding.svg)
          background-size: cover
          background-position: center
          background-repeat: no-repeat
    .experience-section__caption
      margin-top: 20px
      margin-bottom: 10px
      color: $bright-color
      font-size: 22px
      font-family: sans-serif
      font-family: 'ArchitectsDaughter-Regular'
      font-weight: 600
    .experience-section__text
      font-family: 'ArchitectsDaughter-Regular'
      font-family: monospace
      font-size: 14px

.portfolio-section
    width: fit-content
    &.portfolio-section_hover
      background-color: silver
    .section__container
      .section__main-content
        padding: 0 20px
        .portfolio__item
          position: relative
          width: 75%
          margin: 0 auto
          transition: transform 1.2s ease
          &:hover
            transform: translateX(20px)
          &-img
            width: 100%
        .portfolio-section__hover-text
          display: none
          position: absolute
          top: 50%
          left: 50%
          width: fit-content
          height: fit-content
          background-color: $bright-color-opacity
          padding: 15px 30px
          margin: 0 auto
          font-size: 20px
          &.visible
            display: block

.about-me-section
  .section__main-content
    grid-template-columns: repeat(2, 1fr)
    .about-me-section__item
      padding: 10px 20px
      .about-me-section__img
        width: 100%
      .about-me-section__text
        font-family: 'ArchitectsDaughter-Regular'
        margin-bottom: 10px
        &_ua
          font-family: 'Kurale-Regular'
          font-size: 17px
          .about-me-section__text-link
            font-size: 18px
        &-link
          color: $bright-color
          font-size: 17px
          font-weight: 600
          background-color: rgba(255, 255, 255, 0.3)
          padding: 1px
          transition: color .6s ease
          &:hover
            color: $dark-background

.skills-section
  .section__main-content
    padding: 0 0 0 10px
    .skills-section__skill
      display: block
      width: fit-content
      float: left
      background-color: $dark-background-09-opacity
      padding: 10px
      margin: 10px
      font-size: 18px
      font-family: monospace
      transition: background-color .6s ease
      &:hover
        background-color: rgba(56, 67, 62, 1)

.gallery-section
  .section__container
    .section__main-content
      position: relative
      grid-template-columns: 1fr
      padding: 0 0 0 10px
      .gallery-section__angle-button
        position: absolute
        top: 50%
        transform: translateY(-50%)
        color: white
        font-size: 65px
        cursor: pointer
        &-left
          left: 30px
        &-right
          right: 30px
      .gallery-section__item
        width: 100%
        height: 60vh
        min-height: 400px
        max-height: 700px
        background-image: url('../img/gallery/it-shkolyar/1.jpg')
        background-size: cover
        background-position: center
        background-repeat: no-repeat

.footer
  background-color: $footer-background
  text-align: center
  font-family: monospace
  .section__container
    padding: 80px 20px
    .section__main-content
      padding: 0

@import 'media'
